<!DOCTYPE html>
<html lang="en">
<body  style = "text-align: center;">
    <h1>Login</h1>
    <form style="margin-top: 150px;" action="/accounts/?target=/" method="post" enctype="multipart/form-data">
        Username: <input type="text" name="username" placeholder="username" required /> <br><br>
        Password: <input type="password" name="password" placeholder="password" required /> <br><br>
        <input type="submit" value="login" />
        <input type="hidden" name="operation" value="login" />
    </form>

    <p style="margin-left: 20px;">
        Don't have an account? <a href="/create/" style="text-decoration: none; color: black;">
            <b>Sign up</b>
        </a>
    </p>
</body>
</html>