html, body, #root {
    margin: 0;
    height: 100vh;
    display: flex;
}
.split {
    /* Flex container that is row-based to make the split horizontal */
    height: 100%;
    display: flex; /* Enable Flexbox for horizontal layout */
}
.left {
    flex: 8; /* 80% of the space */
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    flex: 2; /* 20% of the space */
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}